
:root { 
    --color1: #063940; 
    --color2: #195e63;  
    --color3: #3e838c; 
    --color4: #8ebdb6;  
    --color5: #ece1c3; 
    --shadow: rgba(0,0,0,0.08); 
    --shadow-soft: rgba(0,0,0,0.05); 
}